SEM 6/studies/sem6(2017-18)/ITA/thisyear/EXAMPLES/XMLexample/schema/complexschema/eleTextOnly.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="student">
        <xs:complexType>
			<xs:sequence>
				
                <xs:element name="FirstName" type="xs:string"/>
				<xs:element name="LastName" type="xs:integer"/>
				
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>