SEM 6/studies/sem6(2017-18)/ITA/thisyear/EXAMPLES/XMLexample/schema/indicators/all.xsd

<?xml version="1.0" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

<xs:element name="persons">
  <xs:complexType>
  
  <!-- Specify that all the child elements must occur in any sequence 
       but each child must appear at least once.-->
    <xs:all>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:integer"/>
    </xs:all>
  </xs:complexType>
</xs:element>
</xs:schema>