SEM 6/studies/sem6(2017-18)/ITA/thisyear/EXAMPLES/XMLexample/schema/indicators/maxoccur.xsd

<?xml version="1.0" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

<xs:element name="persons">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="firstname" type="xs:string"/>
	  
	  <!-- denote the maximum number of times an element can occur. -->
      <xs:element name="lastname" type="xs:string" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>