SEM 6/studies/sem6(2017-18)/ITA/thisyear/EXAMPLES/XMLexample/schema/textAlso.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="student">
        <xs:complexType mixed="true">
			<xs:sequence>
				
                <xs:element name="Name" type="xs:string"/>
				<xs:element name="Roll_No" type="xs:integer"/>
					<xs:element name="Passing_Date" type="xs:date"/>
				
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>